@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap?family= Inter & display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    color: #f5f5f5;
}

/* button style reset */
button {
    background: inherit;
    color: inherit;
    border: none;
}

.homeContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    max-width: 100vw;
    max-height: 100vh;
    overflow-x: hidden;
    background: #17181C;
    scrollbar-width: none;
}

.homeContainer::-webkit-scrollbar {
    display: none;
}

.homeNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 42px 10px;
    height: 100vh;
    background: #1E1F23;
    border: 2px solid #2E2F36;
}

.navLogo {
    padding-left: 20px;
    padding-right: 20px;
}

.homeMain {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}

.homeHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 28px;
    width: 100%;
    background: #1E1F23;
    border-width: 2px 2px 2px 0px;
    border-style: solid;
    border-color: #2E2F36;
}

.homeFrame {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
}

.homeIcon {
    width: 20px;
    height: 20px;
}

.homeTitle {
    font-size: 1rem;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.userFrame {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.userName {
    padding: 10px;
    gap: 10px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.userIcon {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

/* BODY */

.homeBody {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 36px;
    gap: 36px;
    max-width: 1090px;
    max-height: 951px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}

.homeBody::-webkit-scrollbar {
    display: none;
}

/* NEW POST */

.homePost {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
}

.writeField {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px;
    background: #1E1F23;
    border: 2px solid #2E2F36;
    border-radius: 16px;
}

.newPost {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
}

.userIconPost {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.newPostInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 24px;
    width: 630px;
    height: 37px;
    background: #27282F;
    border-radius: 46px;
    border: none;
}

.newPostInput::placeholder {
    color: #75767D;
}

.newPostInput:focus {
    outline: none;
}

.newPostOptions {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 15px;
    gap: 110%;
}

.newPostOptionsItems {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
}

.newPostOptionIcon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    color: #A1A3A7;
}

.buttonPost {
    display: flex;
    align-items: center;
    padding: 6px 32px;
    width: 109px;
    height: 33px;
    border: 2px solid #27282F;
    border-radius: 8px;
    background-color: transparent;
    color: #ffff;
    cursor: pointer;
}

.buttonPost:hover {
    border: 2px solid #525258;
    background-color: #4a4b4e;
}

/* TIMELINE POSTS */

.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
}

.timelinePost {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 0px;
    gap: 16px;
    background: #1E1F23;
    border: 2px solid #2E2F36;
    border-radius: 16px;
}

.postHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 16px;
    gap: 16px;
}

.postUser {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;
}

.postInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
}

.postAuthor {
    font-size: 0.9rem;
    line-height: 16px;
    cursor: pointer;
}

.dateInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 6px;
}

.dateIcon {
    width: 12px;
    height: 12px;
    color: #75767D;
}

.postDate {
    font-size: 0.8rem;
    line-height: 18px;
    color: #75767D;
}

.postDescription {
    font-size: 0.8rem;
    line-height: 18px;
}

.postInteraction {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 48px;
    gap: 35%;
}

.postLike,
.postComment,
.postShare {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.likeIcon,
.commentIcon,
.shareIcon {
    width: 16px;
    height: 16px;
    color: #A1A3A7;
}

.likeText,
.commentText,
.shareText {
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #A1A3A7;
}

.likesBadge,
.commentsBadge {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2px 6px;
    width: 22px;
    height: 18px;
    background: #27282F;
    border-radius: 16px;
}

.likesNumber,
.commentsNumber {
    font-family: 'Inter', sans-serif;
    font-size: 0.7rem;
    line-height: 10px;
    color: #FFFFFF;
}

/* COMMENTS */

.postComments {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 16px;
    gap: 16px;
}

.addComment {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 666px;
    height: 37px;
}

.addCommentInput {
    padding: 8px 24px;
    height: 37px;
    background: #27282F;
    border-radius: 46px;
    border: none;
    font-size: 0.9rem;
}

.addCommentInput::placeholder {
    font-size: 0.9rem;
    line-height: 21px;
    color: #75767D;
}

.addCommentInput:focus {
    outline: none;
}

.addCommentOptions {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 17px;
}

.addCommentOptionIcon {
    width: 16px;
    height: 16px;
    color: #A1A3A7;
    cursor: pointer;
}

.everyComments {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
}

.everyCommentsText {
    font-size: 0.8rem;
    line-height: 18px;
}

.comment {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;
}

.commentLeft {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
}

.commentUserIcon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.commentFrame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
}

.commentContent {
    font-size: 0.8rem;
    line-height: 18px;
}

.commentDivider {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 678px;
    border: 1.5px solid #27282F;
    border-radius: 16px;
}

.seeAllComments {
    margin: auto;
    width: 50%;
    padding: 0px;
}

.seeAllCommentsText {
    margin: 0;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    line-height: 17px;
    color: #2D86FC;
    cursor: pointer;
}

.seeAllCommentsText:hover {
    color: #ffff;
}

/* RIGHT TOPICS */

.homeTopics {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 36px;
}

.trendTopic {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    background: #1E1F23;
    border: 2px solid #2E2F36;
    border-radius: 16px;
    width: 272px;
    height: 267.5px;
}

/* FRIENDS */

.friends {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 20px;
    gap: 24px;
    background: #1E1F23;
    border: 2px solid #2E2F36;
    border-radius: 16px;
}

.friendsHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
}

.friendsTitle {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    line-height: 19px;
}

.toggleButton {
    padding-left: 101px;
}

#toggleButtonDownIcon,
#toggleButtonUpIcon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

#toggleButtonDownIcon {
    display: flex;
}

#toggleButtonUpIcon {
    display: none;
}

.friendsContent {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    max-width: 272px;
    max-height: 267.5px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.friendsContent::-webkit-scrollbar {
    display: none;
}

.friend {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;
    cursor: pointer;
}

.friendUserIcon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.friendName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    font-size: 0.9rem;
    line-height: 21px;
}